<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zappos.firephone" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Uses the Enhanced Amazon Controls (EAC) library -->
        <uses-library android:name="eaclibrary" android:required="true" />

        <!-- Euclid controls require euclidlibary -->
        <uses-library android:name="euclidlibrary" android:required="true" />

        <!-- Home widget -->
        <uses-library android:name="com.amazon.device.home" />

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HeadTrackingCircleActivity" />
        <activity android:name=".GestureActivity" android:label="@string/title_activity_gesture" />
        <activity android:name=".HomeWidgetActivity" android:label="@string/title_home_widgets"/>

        <!-- WidgetBroadcastReceiver receives any intents thrown by the app widget to be consumed by this app. -->
        <receiver android:name=".WidgetBroadcastReceiver"
                  android:permission="com.amazon.permission.HERO_WIDGET_INTENT_SENDER"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.amazon.device.home.action.HERO_WIDGET" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
